<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ucp/

    # If the requested URL is a valid PHP file, serve it.
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php [L]

    # Otherwise, send to index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>